* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: white;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/background-img.jpg);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
  }
  .logo {
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .logo img {
    width: 33vw;
    height: 8vh;
  }
  .menu {
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hamburger {
    display: block;
    background-color: white;
    width: 7vw;
    height: 0.6vh;
    margin: 6px 0;
  }
  .menu-list {
    display: none;
  }
  .content {
    width: 100vw;
    height: 80vh;
    overflow-y: scroll;
  }

  .text {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
  }

  .title {
    width: 100vw;
    height: 17vh;
    font-size: 3.8vh;
    display: flex;
    align-items: flex-end;
    text-align: center;
  }
  .text-box {
    width: 100vw;
    height: 22vh;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .buttons {
    width: 100vw;
    height: 25vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .buttons input {
    width: 30vw;
    height: 6vh;
    background-color: #29be56;
    margin-right: 1vw;
    border-radius: 8%;
    border: none;
    font-weight: bold;
  }
  input:last-child {
    background-color: #3498db;
  }

  .photo {
    width: 100vw;
    height: 80vh;
  }
  .photo img:first-child {
    width: 60vw;
    height: 70vh;
    position: relative;
    left:30vw;
    
  }
  .photo img:last-child {
    width: 60vw;
    height: 70vh;
    position: relative;
    bottom: 60vh;
    left: 10vw;
    
  } 
}

@media only screen and (min-width: 600px) {
  body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .container {
    width: 60vw;
    height: 80vh;
    /* border:2px white solid; */
    display: grid;
    grid-template-columns: 20vw 40vw;
    grid-template-rows: 10vh 70vh;
    grid-template-areas:
      "box1 box2"
      "box3 box3";
  }
  .logo {
    grid-area: box1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .logo img {
    width: 10vw;
    height: 6vh;
  }

  .menu {
    grid-area: box2;
    width: 100%;
  }
  .menu-list {
    width: auto;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  ul li {
    list-style: none;
    margin: 0 1vw;
    font-size: 1vw;
    font-weight: 500;
  }
  .hamburger {
    display: none;
    background-color: black;
    width: 35px;
    height: 5px;
    margin: 6px 0;
  }

  .content {
    grid-area: box3;
    display: flex;
    flex-direction: row;
  }
  .text {
    width: 30vw;
    height: 70vh;
    /* border:2px white solid; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .title {
    width: 30vw;
    height: 23.3vh;
    font-size: 2.5vw;
    display: flex;
    align-items: flex-end;
  }
  .text-box {
    width: 30vw;
    height: 23.3vh;
    display: flex;
    align-items: center;
  }
  .buttons {
    width: 30vw;
    height: 23.3vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .buttons input {
    width: 12vw;
    height: 5vh;
    background-color: #29be56;
    margin-right: 1vw;
    border-radius: 8%;
    border: none;
    font-weight: bold;
  }
  input:last-child {
    background-color: #3498db;
  }

  .photo {
    width: 30vw;
    height: 70vh;
  }
  .photo img:first-child {
    width: 15vw;
    height: 50vh;
    position: relative;
    left: 14vw;
  }
  .photo img:last-child {
    width: 15vw;
    height: 50vh;
    position: relative;
    left: 7vw;
    bottom: 48vh;
  }
}
